/* Body and general layout styles */
#body-except-chart {
    font-family: Arial, sans-serif;
    background-color: #EEE9DA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body {
    background-color: #EEE9DA;
}


h1 {
    color: #6096B4;
    text-align: center;
    padding: 20px;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label,
select,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #6096B4;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#fillWholeCountry {
    background-color: #6096B4;
}

#copyright-notice {
    background-color: #6096B4;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

#copyright-notice a {
    color: #00ff15;
    text-decoration: none;
}

#copyright-notice a:hover {
    text-decoration: underline;
}

#startYearInput,
#endYearInput {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Year range container styles */
#year-range-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#year-range-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

#year-range-container input {
    background-color: #ECCDB4;
    width: 100px;
    /* 调整输入框的宽度 */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#year-range-container p {
    margin: 0;
    padding: 5px;
}


#chart-view {
    padding: 20px;
    display: none;
}

#chart {
    /* background-color: #ECCDB4; */
    width: 100%;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.input-with-button input {
    flex: 1;
    /* 让输入框占据剩余的可用空间 */
    margin-right: 10px;
    /* 添加右侧间距 */
}

.input-with-button button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 20px;
}

.apply-container {
    display: flex;
    flex-direction: between-row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; 
    /* height: 100vh; 
    margin: 0 auto; 
    max-width: 600px; */
}

#clear-list-label {
    background-color: #b361d3;
}
